body{
    margin: 0;
    padding:0;
}
h1{
    color: white;
}
.search-box{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height : 40px;
    border-radius: 50px;
    padding: 20px;
}
.search-box:hover > .search-txt{
    width: 500px;
    padding: 0 6px;

}
@media(min-width:960px){
    #movies_found .col-md-3 .well{
        height: 390px;
    }

    #movies_found .col-md-3 img{
        height:240px;
    }
}
.search-box:hover > .search-btn{
    background: white;
    
}
#movies img, #movie_selected img{
    width:100%;
}
.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640;
    transition: 2s;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}